@tailwind base;
@tailwind components;
@tailwind utilities; 

  html,body{
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
   /* background-color: bLACK; */
 }


*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#root{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    /* background-color: #5cf7ff; */
}


.header{
    position: sticky;
    top: 0%;
    z-index: 4;
    width: 90vw;
    height: 8vh;
    background-color: white;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    border-radius: 1rem;
    box-shadow: 0px 4px 12.5px 0px rgba(49, 72, 98, 0.25);
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 3.5rem;
    width: 3.5rem;
    object-fit: cover;
    border-radius: 2rem;   
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;  
}

.nav-link{
    text-decoration: none;
    color: #314862;
    font-size: 1.2rem;
}

.auth{
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    background: linear-gradient(180deg, #00ACFF 0%, #007FFF 100%);
    color: white;  
}
.CourseCard{
    /* absolute left-[50%] bottom-[10%] */
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform:translateX(-50%);
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    background: linear-gradient(180deg, #00ACFF 0%, #007FFF 100%);
    color: white;  
}

.expert{
    margin: 80px 0 0 0;
}

.btn{
    background-color: white;
    border: none;
    font-size:  1.2rem;
    padding: 1rem 0;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.drop-content{
    position: absolute;
    z-index: 1;
    background-color: rgba(187, 185, 185, 0.966);
    border: none;
    border-radius: 0.5rem;
    display: none;  
}   

.drop-content a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.7rem 1.5rem;
}

.dropdown:hover .drop-content{
    display: block; 
}

.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    height: 66vh;
    margin: 3rem auto;
}

.hero-content{
    width: 50%;
}

.bold{
    font-size: 2.5rem;
    line-height: 4rem;
    font-weight: bold;
}

.info{
    color: rgb(122, 120, 120);
    margin: 10px 0;
    font-size: 1.2rem;
    padding-right: 230px;
}

.hero-content span{
    color:rgb(63, 164, 247);
}

.hero-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,1fr); 
    gap: 1rem;
    
}

.img{
    padding: 1rem;
    border: none;
    border-radius: 1.5rem;
    font-size: small;
    position: relative;
}

.img1{
    background-image: linear-gradient(to right, #5eb3fd 0%, #5cf7ff 100%);
    height: 130px;
    width: 250px;
    
    
}

.img2{
    background-image: linear-gradient(to right, #6fff9f 0%, #70ffe5 100%);
    grid-row: span 2;
    
    
}

.img3{
    background-image: linear-gradient(to right, #fc607a 0%, #ff72ad 100%);
    grid-row: span 2;
}

.img4{
    background-image: linear-gradient(to right, #ffe14e 0%, #fd6d6f 100%);
    display: flex;
    flex-direction: column;
    align-items: end;
    
}

.img1 img{
    width: 100px;
    position: absolute;
    bottom: 0px;
    right: -10px;

}

.img2 img{
    width: 180px;
    position: absolute;
    right: -10px;
    bottom: 0px;
}

.img3 img{
    width: 235px;
    position: absolute;
    bottom: 0px;
    right: 6px;
}

.img4 img{
    width: 100px;
    position: absolute;
    bottom: 0px;
    left: -15px;
}

.para4{
    text-align: end;
    color: rgb(151, 100, 5);
}

.para1{
    color: rgb(0, 0, 138);
}

.para2{
    color: rgb(0, 92, 0);
}

.title{
    margin: 5px 0;
    color: white;
    font-weight: bold;
}

.para3{
    color: rgb(168, 60, 78);
}

.sub-title{
    margin: 2px 0;
    color: rgb(102, 102, 102);
}

.question{
    width: 70vw;
    margin: 6rem auto;
}

.faq{
    text-align: center;
    font-size: 1.5rem;
    color: rgb(90, 90, 90);
    line-height: 2rem;
    margin: 2rem 0;
}

.question summary{
    font-size: 1.3rem;
    line-height: 2.5rem;
}

.ans{
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem;
    color: rgb(145, 143, 143);
}

.hfaq{
    font-size: 3rem;
    margin: 2rem 0;
    text-align: center;
}

.testimonial{
    display: flex;
    width: 100vw;
    height: 100vw;
    background-color: #D9AFD9;
    background: transparent;
    /* background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%); */
    padding: 0.12rem;
}

.review{
    height: 4rem;
    width: 4rem;
    background-color: rgb(175, 9, 43);
    border: none;
    border-radius: 50%;
    
}

.test-card{
    width: 30%;
    height: 80%;
    margin: 2rem auto;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px #0098e4;
    border-radius: 2rem;
}

.test-card p{
    text-align: center;
}

.test-card .name{
    font-size: 1.2rem;
    padding: 0.5rem 0;
    color: #0098e4;
}

.test-card .university{
    padding: 0 3rem 0.5rem 3rem;
    color: rgb(100, 100, 100);
    font-size: 0.9rem;
    border-bottom: solid 1px rgb(201, 199, 199);
    
}

.test-card .content{
    color: rgb(94, 93, 93);
    padding-top: 1rem;
}

/* animation */

#move{
    background: linear-gradient(180deg, #00ACFF 0%, #007FFF 100%);background-color:#d9ff06;
    padding: 2vw 0;
    /* height: 8vh; */
    display: flex;
    /* align-items: center; */
  }
  
  .marque{
    flex-shrink: 0;
    color: white;
    font-weight: 200;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap:2rem;
    padding: 0 1.5vw;
    transform: translateX(-100%);
  }
  
  .marque img{
    height: 2vw
  }

  